---
import BaseHead from '../components/BaseHead.astro'
import { SITE_DESCRIPTION,SITE_TITLE } from '../consts'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <h1>Home</h1>
  </body>
</html>
