---
import BaseHead from '../components/BaseHead.astro'
import { Footer } from '../components/footer'
import { Header } from '../components/header'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import '@fontsource/nunito'
import '@fontsource/roboto'

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
} = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body>
    <div
      class="w-full flex items-center justify-center flex-col dark:bg-gray-800"
    >
      <Header client:visible />
      <slot />
      <Footer />
    </div>
  </body>
</html>
